In [1]:
import os
import gc
import time
import numpy as np
import pandas as pd
from contextlib import contextmanager
import multiprocessing as mp
from functools import partial
from scipy.stats import kurtosis, iqr, skew
from lightgbm import LGBMClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import roc_auc_score
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
def get_age_label(days_birth):
    """ Return the age group label (int). """
    age_years = -days_birth / 365
    if age_years < 27: return 1
    elif age_years < 40: return 2
    elif age_years < 50: return 3
    elif age_years < 65: return 4
    elif age_years < 99: return 5
    else: return 0

In [3]:
train = pd.read_csv('../input/application_train.csv', nrows= None)
test = pd.read_csv('../input/application_test.csv', nrows= None)
df = train.append(test)
del train, test; gc.collect()
# Data cleaning
df = df[df['CODE_GENDER'] != 'XNA']  # 4 people with XNA code gender
df = df[df['AMT_INCOME_TOTAL'] < 20000000]  # Max income in test is 4M; train has a 117M value
df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True)
df['DAYS_LAST_PHONE_CHANGE'].replace(0, np.nan, inplace=True)

# Flag_document features - count and kurtosis
docs = [f for f in df.columns if 'FLAG_DOC' in f]
df['DOCUMENT_COUNT'] = df[docs].sum(axis=1)
df['NEW_DOC_KURT'] = df[docs].kurtosis(axis=1)
# Categorical age - based on target=1 plot
df['AGE_RANGE'] = df['DAYS_BIRTH'].apply(lambda x: get_age_label(x))

# New features based on External sources
df['EXT_SOURCES_PROD'] = df['EXT_SOURCE_1'] * df['EXT_SOURCE_2'] * df['EXT_SOURCE_3']
df['EXT_SOURCES_WEIGHTED'] = df.EXT_SOURCE_1 * 2 + df.EXT_SOURCE_2 * 1 + df.EXT_SOURCE_3 * 3
np.warnings.filterwarnings('ignore', r'All-NaN (slice|axis) encountered')
for function_name in ['min', 'max', 'mean', 'nanmedian', 'var']:
    feature_name = 'EXT_SOURCES_{}'.format(function_name.upper())
    df[feature_name] = eval('np.{}'.format(function_name))(
        df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']], axis=1)

# Credit ratios
df['CREDIT_TO_ANNUITY_RATIO'] = df['AMT_CREDIT'] / df['AMT_ANNUITY']
df['CREDIT_TO_GOODS_RATIO'] = df['AMT_CREDIT'] / df['AMT_GOODS_PRICE']
# Income ratios
df['ANNUITY_TO_INCOME_RATIO'] = df['AMT_ANNUITY'] / df['AMT_INCOME_TOTAL']
df['CREDIT_TO_INCOME_RATIO'] = df['AMT_CREDIT'] / df['AMT_INCOME_TOTAL']
df['INCOME_TO_EMPLOYED_RATIO'] = df['AMT_INCOME_TOTAL'] / df['DAYS_EMPLOYED']
df['INCOME_TO_BIRTH_RATIO'] = df['AMT_INCOME_TOTAL'] / df['DAYS_BIRTH']
# Time ratios
df['EMPLOYED_TO_BIRTH_RATIO'] = df['DAYS_EMPLOYED'] / df['DAYS_BIRTH']
df['ID_TO_BIRTH_RATIO'] = df['DAYS_ID_PUBLISH'] / df['DAYS_BIRTH']
df['CAR_TO_BIRTH_RATIO'] = df['OWN_CAR_AGE'] / df['DAYS_BIRTH']
df['CAR_TO_EMPLOYED_RATIO'] = df['OWN_CAR_AGE'] / df['DAYS_EMPLOYED']
df['PHONE_TO_BIRTH_RATIO'] = df['DAYS_LAST_PHONE_CHANGE'] / df['DAYS_BIRTH']

In [6]:

# Groupby: Statistics for applications in the same group
group = ['ORGANIZATION_TYPE', 'NAME_EDUCATION_TYPE', 'OCCUPATION_TYPE', 'AGE_RANGE', 'CODE_GENDER']
af = do_median(df, group, 'EXT_SOURCES_MEAN', 'GROUP_EXT_SOURCES_MEDIAN')

In [7]:
af.head(10)

,ORGANIZATION_TYPE,NAME_EDUCATION_TYPE,OCCUPATION_TYPE,AGE_RANGE,CODE_GENDER,GROUP_EXT_SOURCES_MEDIAN
0,Advertising,Academic degree,Drivers,4,M,0.227486
1,Advertising,Higher education,Accountants,2,F,0.540285
2,Advertising,Higher education,Accountants,3,F,0.647053
3,Advertising,Higher education,Accountants,4,F,0.696032
4,Advertising,Higher education,Cleaning staff,4,F,0.499534
5,Advertising,Higher education,Core staff,1,F,0.540125
6,Advertising,Higher education,Core staff,2,F,0.529452
7,Advertising,Higher education,Core staff,2,M,0.387035
8,Advertising,Higher education,Core staff,3,F,0.591547
9,Advertising,Higher education,Core staff,3,M,0.627798

In [ ]:
df = do_std(df, group, 'EXT_SOURCES_MEAN', 'GROUP_EXT_SOURCES_STD')
df = do_mean(df, group, 'AMT_INCOME_TOTAL', 'GROUP_INCOME_MEAN')
df = do_std(df, group, 'AMT_INCOME_TOTAL', 'GROUP_INCOME_STD')
df = do_mean(df, group, 'CREDIT_TO_ANNUITY_RATIO', 'GROUP_CREDIT_TO_ANNUITY_MEAN')
df = do_std(df, group, 'CREDIT_TO_ANNUITY_RATIO', 'GROUP_CREDIT_TO_ANNUITY_STD')
df = do_mean(df, group, 'AMT_CREDIT', 'GROUP_CREDIT_MEAN')
df = do_mean(df, group, 'AMT_ANNUITY', 'GROUP_ANNUITY_MEAN')
df = do_std(df, group, 'AMT_ANNUITY', 'GROUP_ANNUITY_STD')

In [9]:
def one_hot_encoder(df, categorical_columns=None, nan_as_category=True):
    """Create a new column for each categorical value in categorical columns. """
    original_columns = list(df.columns)
    if not categorical_columns:
        categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns=categorical_columns, dummy_na=nan_as_category)
    categorical_columns = [c for c in df.columns if c not in original_columns]
    return df, categorical_columns

In [10]:
bb = pd.read_csv('../input/bureau_balance.csv', nrows= None)
bb, categorical_cols = one_hot_encoder(bb, nan_as_category= False)
bb.head(5)

,SK_ID_BUREAU,MONTHS_BALANCE,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
0,5715448,0,0,0,0,0,0,0,1,0
1,5715448,-1,0,0,0,0,0,0,1,0
2,5715448,-2,0,0,0,0,0,0,1,0
3,5715448,-3,0,0,0,0,0,0,1,0
4,5715448,-4,0,0,0,0,0,0,1,0
5,5715448,-5,0,0,0,0,0,0,1,0
6,5715448,-6,0,0,0,0,0,0,1,0
7,5715448,-7,0,0,0,0,0,0,1,0
8,5715448,-8,0,0,0,0,0,0,1,0
9,5715448,-9,1,0,0,0,0,0,0,0
10,5715448,-10,1,0,0,0,0,0,0,0
11,5715448,-11,0,0,0,0,0,0,0,1
12,5715448,-12,0,0,0,0,0,0,0,1
13,5715448,-13,0,0,0,0,0,0,0,1
14,5715448,-14,1,0,0,0,0,0,0,0
15,5715448,-15,1,0,0,0,0,0,0,0
16,5715448,-16,1,0,0,0,0,0,0,0
17,5715448,-17,1,0,0,0,0,0,0,0
18,5715448,-18,1,0,0,0,0,0,0,0
19,5715448,-19,1,0,0,0,0,0,0,0
20,5715448,-20,0,0,0,0,0,0,0,1
21,5715448,-21,0,0,0,0,0,0,0,1
22,5715448,-22,0,0,0,0,0,0,0,1
23,5715448,-23,0,0,0,0,0,0,0,1
24,5715448,-24,0,0,0,0,0,0,0,1
25,5715448,-25,0,0,0,0,0,0,0,1
26,5715448,-26,0,0,0,0,0,0,0,1
27,5715449,0,0,0,0,0,0,0,1,0
28,5715449,-1,0,0,0,0,0,0,1,0
29,5715449,-2,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
27299895,5041332,-18,0,0,0,0,0,0,0,1
27299896,5041332,-19,0,0,0,0,0,0,0,1
27299897,5041332,-20,0,0,0,0,0,0,0,1
27299898,5041332,-21,0,0,0,0,0,0,0,1
27299899,5041332,-22,0,0,0,0,0,0,0,1
27299900,5041332,-23,0,0,0,0,0,0,0,1
27299901,5041336,-28,0,0,0,0,0,0,0,1
27299902,5041336,-29,0,0,0,0,0,0,0,1
27299903,5041336,-30,0,0,0,0,0,0,0,1
27299904,5041336,-31,0,0,0,0,0,0,0,1
27299905,5041336,-32,0,0,0,0,0,0,0,1
27299906,5041336,-33,0,0,0,0,0,0,0,1
27299907,5041336,-34,0,0,0,0,0,0,0,1
27299908,5041336,-35,0,0,0,0,0,0,0,1
27299909,5041336,-36,0,0,0,0,0,0,0,1
27299910,5041336,-37,0,0,0,0,0,0,0,1
27299911,5041336,-38,0,0,0,0,0,0,0,1
27299912,5041336,-39,0,0,0,0,0,0,0,1
27299913,5041336,-40,0,0,0,0,0,0,0,1
27299914,5041336,-41,0,0,0,0,0,0,0,1
27299915,5041336,-42,0,0,0,0,0,0,0,1
27299916,5041336,-43,0,0,0,0,0,0,0,1
27299917,5041336,-44,0,0,0,0,0,0,0,1
27299918,5041336,-45,0,0,0,0,0,0,0,1
27299919,5041336,-46,0,0,0,0,0,0,0,1
27299920,5041336,-47,0,0,0,0,0,0,0,1
27299921,5041336,-48,0,0,0,0,0,0,0,1
27299922,5041336,-49,0,0,0,0,0,0,0,1
27299923,5041336,-50,0,0,0,0,0,0,0,1
27299924,5041336,-51,0,0,0,0,0,0,0,1

In [11]:
# Calculate rate for each category with decay
bb_processed = bb.groupby('SK_ID_BUREAU')[categorical_cols].mean().reset_index()
bb_processed.head(10)

In [23]:
# Min, Max, Count and mean duration of payments (months)
agg = {'MONTHS_BALANCE': ['min', 'max', 'mean', 'size']}
bb_processed = group_and_merge(bb, bb_processed, '', agg, 'SK_ID_BUREAU')

In [2]:
def group_and_merge(df_to_agg, df_to_merge, prefix, aggregations, aggregate_by= 'SK_ID_CURR'):
    agg_df = group(df_to_agg, prefix, aggregations, aggregate_by= aggregate_by)
    return df_to_merge.merge(agg_df, how='left', on= aggregate_by)

In [3]:
def group(df_to_agg, prefix, aggregations, aggregate_by= 'SK_ID_CURR'):
    agg_df = df_to_agg.groupby(aggregate_by).agg(aggregations)
    agg_df.columns = pd.Index(['{}{}_{}'.format(prefix, e[0], e[1].upper())
                               for e in agg_df.columns.tolist()])
    return agg_df.reset_index()

In [24]:
bb_processed.head(10)

,SK_ID_BUREAU,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X,MONTHS_BALANCE_MIN,MONTHS_BALANCE_MAX,MONTHS_BALANCE_MEAN,MONTHS_BALANCE_SIZE
0,5001709,0.000000,0.000000,0.0,0.0,0.0,0.0,0.886598,0.113402,-96,0,-48.0,97
1,5001710,0.060241,0.000000,0.0,0.0,0.0,0.0,0.578313,0.361446,-82,0,-41.0,83
2,5001711,0.750000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.250000,-3,0,-1.5,4
3,5001712,0.526316,0.000000,0.0,0.0,0.0,0.0,0.473684,0.000000,-18,0,-9.0,19
4,5001713,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,-21,0,-10.5,22
5,5001714,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,-14,0,-7.0,15
6,5001715,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,-59,0,-29.5,60
7,5001716,0.313953,0.000000,0.0,0.0,0.0,0.0,0.453488,0.232558,-85,0,-42.5,86
8,5001717,0.772727,0.000000,0.0,0.0,0.0,0.0,0.227273,0.000000,-21,0,-10.5,22
9,5001718,0.615385,0.051282,0.0,0.0,0.0,0.0,0.076923,0.256410,-38,0,-19.0,39

In [26]:
bureau = pd.read_csv('../input/bureau.csv', nrows= None)

In [27]:
# Credit duration and credit/account end date difference
bureau['CREDIT_DURATION'] = -bureau['DAYS_CREDIT'] + bureau['DAYS_CREDIT_ENDDATE']
bureau['ENDDATE_DIF'] = bureau['DAYS_CREDIT_ENDDATE'] - bureau['DAYS_ENDDATE_FACT']
# Credit to debt ratio and difference
bureau['DEBT_PERCENTAGE'] = bureau['AMT_CREDIT_SUM'] / bureau['AMT_CREDIT_SUM_DEBT']
bureau['DEBT_CREDIT_DIFF'] = bureau['AMT_CREDIT_SUM'] - bureau['AMT_CREDIT_SUM_DEBT']
bureau['CREDIT_TO_ANNUITY_RATIO'] = bureau['AMT_CREDIT_SUM'] / bureau['AMT_ANNUITY']

In [28]:
# One-hot encoder
bureau, categorical_cols = one_hot_encoder(bureau, nan_as_category= False)

In [30]:
bureau

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,...,CREDIT_TYPE_Interbank credit,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan
0,215354,5714462,-497,0,-153.0,-153.0,NaN,0,91323.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1,215354,5714463,-208,0,1075.0,NaN,NaN,0,225000.000,171342.000,...,0,0,0,0,0,0,0,0,0,0
2,215354,5714464,-203,0,528.0,NaN,NaN,0,464323.500,NaN,...,0,0,0,0,0,0,0,0,0,0
3,215354,5714465,-203,0,NaN,NaN,NaN,0,90000.000,NaN,...,0,0,0,0,0,0,0,0,0,0
4,215354,5714466,-629,0,1197.0,NaN,77674.500,0,2700000.000,NaN,...,0,0,0,0,0,0,0,0,0,0
5,215354,5714467,-273,0,27460.0,NaN,0.000,0,180000.000,71017.380,...,0,0,0,0,0,0,0,0,0,0
6,215354,5714468,-43,0,79.0,NaN,0.000,0,42103.800,42103.800,...,0,0,0,0,0,0,0,0,0,0
7,162297,5714469,-1896,0,-1684.0,-1710.0,14985.000,0,76878.450,0.000,...,0,0,0,0,0,0,0,0,0,0
8,162297,5714470,-1146,0,-811.0,-840.0,0.000,0,103007.700,0.000,...,0,0,0,0,0,0,0,0,0,0
9,162297,5714471,-1146,0,-484.0,NaN,0.000,0,4500.000,0.000,...,0,0,0,0,0,0,0,0,0,0
10,162297,5714472,-1146,0,-180.0,NaN,0.000,0,337500.000,0.000,...,0,0,0,0,0,0,0,0,0,0
11,162297,5714473,-2456,0,-629.0,-825.0,NaN,0,675000.000,0.000,...,0,0,0,0,0,0,0,0,0,0
12,162297,5714474,-277,0,5261.0,NaN,0.000,0,7033500.000,NaN,...,0,0,0,0,0,0,0,1,0,0
13,402440,5714475,-96,0,269.0,NaN,0.000,0,89910.000,76905.000,...,0,0,0,0,0,0,0,0,0,0
14,238881,5714482,-318,0,-187.0,-187.0,NaN,0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
15,238881,5714484,-2911,0,-2607.0,-2604.0,NaN,0,48555.000,NaN,...,0,0,0,0,0,0,0,0,0,0
16,238881,5714485,-2148,0,-1595.0,-987.0,NaN,0,135000.000,NaN,...,0,0,0,0,0,0,0,0,0,0
17,238881,5714486,-381,0,NaN,NaN,NaN,0,450000.000,520920.000,...,0,0,0,0,0,0,0,0,0,0
18,238881,5714487,-95,0,1720.0,NaN,NaN,0,67500.000,8131.500,...,0,0,0,0,0,0,0,0,0,0
19,238881,5714488,-444,0,-77.0,-77.0,0.000,0,107184.060,0.000,...,0,0,0,0,0,0,0,0,0,0
20,238881,5714489,-392,0,NaN,NaN,0.000,0,252000.000,23679.000,...,0,0,0,0,0,0,0,0,0,0
21,222183,5714491,-784,0,1008.0,NaN,0.000,0,0.000,-411.615,...,0,0,0,0,0,0,0,0,0,0
22,222183,5714492,-774,0,625.0,NaN,NaN,0,127840.500,0.000,...,0,0,0,0,0,0,0,0,0,0
23,222183,5714493,-395,0,1431.0,NaN,NaN,0,1350000.000,1185493.500,...,0,0,0,0,0,0,0,0,0,0
24,222183,5714495,-2744,0,-2561.0,-2559.0,310.500,0,18157.500,NaN,...,0,0,0,0,0,0,0,0,0,0
25,222183,5714496,-1103,0,-7.0,-343.0,20493.270,0,675000.000,0.000,...,0,0,0,0,0,0,0,0,0,0
26,222183,5714497,-315,0,1512.0,NaN,88821.000,0,3709552.500,NaN,...,0,0,0,0,0,0,0,0,0,0
27,426155,5714498,-1331,0,-994.0,-1023.0,1350.000,0,39433.500,0.000,...,0,0,0,0,0,0,0,0,0,0
28,426155,5714499,-2534,0,-2352.0,-2347.0,NaN,0,38830.500,0.000,...,0,0,0,0,0,0,0,0,0,0
29,426155,5714500,-845,0,-480.0,-480.0,0.000,0,67500.000,0.000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716398,312021,5057541,-1529,0,-829.0,-829.0,NaN,0,209898.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716399,232638,5057553,-613,0,721.0,NaN,NaN,0,972000.000,886297.500,...,0,0,0,0,0,0,0,0,0,0
1716400,318662,5057561,-815,0,1011.0,NaN,NaN,0,147150.000,105358.500,...,0,0,0,0,0,0,0,0,0,0
1716401,145715,5057569,-2333,0,-2027.0,-1984.0,173.070,0,35032.500,0.000,...,0,0,0,0,0,0,0,0,0,0
1716402,352358,5057580,-1714,0,-1530.0,-1564.0,NaN,0,35271.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716403,361928,5057589,-765,0,1061.0,NaN,NaN,0,1431000.000,1092226.500,...,0,0,0,0,0,0,0,0,0,0
1716404,166279,5057599,-99,0,997.0,NaN,0.000,0,450000.000,432787.500,...,0,0,0,0,0,0,0,0,0,0
1716405,438109,5057605,-2390,0,-2053.0,-2082.0,11317.590,0,112204.350,0.000,...,0,0,0,0,0,0,0,0,0,0
1716406,335468,5057618,-2517,0,-660.0,-2363.0,0.000,0,473940.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716407,146896,5057629,-1990,0,-1244.0,-1248.0,NaN,0,90000.000,NaN,...,0,0,0,0,0,0,0,0,0,0
1716408,146896,5057632,-434,0,-344.0,-344.0,NaN,0,234000.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716409,146896,5057636,-1705,0,-582.0,-582.0,0.000,0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716410,280228,5057642,-575,0,813.0,NaN,NaN,0,67500.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716411,232118,5057652,-821,0,-425.0,-545.0,0.000,0,108765.720,0.000,...,0,0,0,0,0,0,0,0,0,0
1716412,288038,5057657,-541,0,7.0,NaN,NaN,0,225000.000,10971.000,...,0,0,0,0,0,0,0,0,0,0
1716413,288038,5057665,-463,0,-36.0,-36.0,6863.715,0,110878.470,0.000,...,0,0,0,0,0,0,0,0,0,0
1716414,445222,5057676,-1628,0,-1320.0,-1320.0,5693.625,0,57834.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716415,317217,5057684,-1970,0,-1577.0,-1577.0,NaN,0,93955.500,NaN,...,0,0,0,0,0,0,0,0,0,0
1716416,433007,5057695,-1100,0,-732.0,-731.0,NaN,0,98775.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716417,433007,5057703,-740,0,31128.0,NaN,NaN,0,67500.000,2466.000,...,0,0,0,0,0,0,0,0,0,0
1716418,433007,5057708,-1389,0,-1299.0,-1299.0,0.000,0,334158.435,0.000,...,0,0,0,0,0,0,0,0,0,0
1716419,352790,5057718,-1808,0,-1596.0,-1625.0,8100.000,0,28248.840,0.000,...,0,0,0,0,0,0,0,0,0,0
1716420,352790,5057725,-99,0,-83.0,-98.0,NaN,0,27000.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716421,375755,5057734,-1335,0,-1152.0,-1152.0,NaN,0,195408.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716422,375755,5057742,-2648,0,31129.0,-189.0,NaN,0,202500.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716423,259355,5057750,-44,0,-30.0,NaN,0.000,0,11250.000,11250.000,...,0,0,0,0,0,1,0,0,0,0
1716424,100044,5057754,-2648,0,-2433.0,-2493.0,5476.500,0,38130.840,0.000,...,0,0,0,0,0,0,0,0,0,0
1716425,100044,5057762,-1809,0,-1628.0,-970.0,NaN,0,15570.000,NaN,...,0,0,0,0,0,0,0,0,0,0
1716426,246829,5057770,-1878,0,-1513.0,-1513.0,NaN,0,36000.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716427,246829,5057778,-463,0,NaN,-387.0,NaN,0,22500.000,0.000,...,0,0,0,0,0,1,0,0,0,0

In [31]:
bureau = bureau.merge(bb_processed, how='left', on='SK_ID_BUREAU')

In [33]:
bureau.head(10)

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,...,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X,MONTHS_BALANCE_MIN,MONTHS_BALANCE_MAX,MONTHS_BALANCE_MEAN,MONTHS_BALANCE_SIZE
0,215354,5714462,-497,0,-153.0,-153.0,NaN,0,91323.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,215354,5714463,-208,0,1075.0,NaN,NaN,0,225000.00,171342.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,215354,5714464,-203,0,528.0,NaN,NaN,0,464323.50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,215354,5714465,-203,0,NaN,NaN,NaN,0,90000.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,215354,5714466,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,215354,5714467,-273,0,27460.0,NaN,0.0,0,180000.00,71017.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,215354,5714468,-43,0,79.0,NaN,0.0,0,42103.80,42103.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,162297,5714469,-1896,0,-1684.0,-1710.0,14985.0,0,76878.45,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,162297,5714470,-1146,0,-811.0,-840.0,0.0,0,103007.70,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,162297,5714471,-1146,0,-484.0,NaN,0.0,0,4500.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
list(bureau)

['SK_ID_CURR',
 'SK_ID_BUREAU',
 'DAYS_CREDIT',
 'CREDIT_DAY_OVERDUE',
 'DAYS_CREDIT_ENDDATE',
 'DAYS_ENDDATE_FACT',
 'AMT_CREDIT_MAX_OVERDUE',
 'CNT_CREDIT_PROLONG',
 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_DEBT',
 'AMT_CREDIT_SUM_LIMIT',
 'AMT_CREDIT_SUM_OVERDUE',
 'DAYS_CREDIT_UPDATE',
 'AMT_ANNUITY',
 'CREDIT_DURATION',
 'ENDDATE_DIF',
 'DEBT_PERCENTAGE',
 'DEBT_CREDIT_DIFF',
 'CREDIT_TO_ANNUITY_RATIO',
 'CREDIT_ACTIVE_Active',
 'CREDIT_ACTIVE_Bad debt',
 'CREDIT_ACTIVE_Closed',
 'CREDIT_ACTIVE_Sold',
 'CREDIT_CURRENCY_currency 1',
 'CREDIT_CURRENCY_currency 2',
 'CREDIT_CURRENCY_currency 3',
 'CREDIT_CURRENCY_currency 4',
 'CREDIT_TYPE_Another type of loan',
 'CREDIT_TYPE_Car loan',
 'CREDIT_TYPE_Cash loan (non-earmarked)',
 'CREDIT_TYPE_Consumer credit',
 'CREDIT_TYPE_Credit card',
 'CREDIT_TYPE_Interbank credit',
 'CREDIT_TYPE_Loan for business development',
 'CREDIT_TYPE_Loan for purchase of shares (margin lending)',
 'CREDIT_TYPE_Loan for the purchase of equipment',
 'CREDIT_TYPE_Loan for working capital replenishment',
 'CREDIT_TYPE_Microloan',
 'CREDIT_TYPE_Mobile operator loan',
 'CREDIT_TYPE_Mortgage',
 'CREDIT_TYPE_Real estate loan',
 'CREDIT_TYPE_Unknown type of loan',
 'STATUS_0',
 'STATUS_1',
 'STATUS_2',
 'STATUS_3',
 'STATUS_4',
 'STATUS_5',
 'STATUS_C',
 'STATUS_X',
 'MONTHS_BALANCE_MIN',
 'MONTHS_BALANCE_MAX',
 'MONTHS_BALANCE_MEAN',
 'MONTHS_BALANCE_SIZE']

In [37]:
# Flag months with late payments (days past due)
bureau['STATUS_12345'] = 0
for i in range(1,6):
    bureau['STATUS_12345'] += bureau['STATUS_{}'.format(i)]

In [40]:
bureau.head(10)

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,...,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X,MONTHS_BALANCE_MIN,MONTHS_BALANCE_MAX,MONTHS_BALANCE_MEAN,MONTHS_BALANCE_SIZE,STATUS_12345
0,215354,5714462,-497,0,-153.0,-153.0,NaN,0,91323.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,215354,5714463,-208,0,1075.0,NaN,NaN,0,225000.000,171342.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,215354,5714464,-203,0,528.0,NaN,NaN,0,464323.500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,215354,5714465,-203,0,NaN,NaN,NaN,0,90000.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,215354,5714466,-629,0,1197.0,NaN,77674.500,0,2700000.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,215354,5714467,-273,0,27460.0,NaN,0.000,0,180000.000,71017.380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,215354,5714468,-43,0,79.0,NaN,0.000,0,42103.800,42103.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,162297,5714469,-1896,0,-1684.0,-1710.0,14985.000,0,76878.450,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,162297,5714470,-1146,0,-811.0,-840.0,0.000,0,103007.700,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,162297,5714471,-1146,0,-484.0,NaN,0.000,0,4500.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,162297,5714472,-1146,0,-180.0,NaN,0.000,0,337500.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,162297,5714473,-2456,0,-629.0,-825.0,NaN,0,675000.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,162297,5714474,-277,0,5261.0,NaN,0.000,0,7033500.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,402440,5714475,-96,0,269.0,NaN,0.000,0,89910.000,76905.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,238881,5714482,-318,0,-187.0,-187.0,NaN,0,0.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,238881,5714484,-2911,0,-2607.0,-2604.0,NaN,0,48555.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,238881,5714485,-2148,0,-1595.0,-987.0,NaN,0,135000.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,238881,5714486,-381,0,NaN,NaN,NaN,0,450000.000,520920.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,238881,5714487,-95,0,1720.0,NaN,NaN,0,67500.000,8131.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,238881,5714488,-444,0,-77.0,-77.0,0.000,0,107184.060,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,238881,5714489,-392,0,NaN,NaN,0.000,0,252000.000,23679.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,222183,5714491,-784,0,1008.0,NaN,0.000,0,0.000,-411.615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,222183,5714492,-774,0,625.0,NaN,NaN,0,127840.500,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,222183,5714493,-395,0,1431.0,NaN,NaN,0,1350000.000,1185493.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,222183,5714495,-2744,0,-2561.0,-2559.0,310.500,0,18157.500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,222183,5714496,-1103,0,-7.0,-343.0,20493.270,0,675000.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,222183,5714497,-315,0,1512.0,NaN,88821.000,0,3709552.500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,426155,5714498,-1331,0,-994.0,-1023.0,1350.000,0,39433.500,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,426155,5714499,-2534,0,-2352.0,-2347.0,NaN,0,38830.500,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,426155,5714500,-845,0,-480.0,-480.0,0.000,0,67500.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716398,312021,5057541,-1529,0,-829.0,-829.0,NaN,0,209898.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716399,232638,5057553,-613,0,721.0,NaN,NaN,0,972000.000,886297.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716400,318662,5057561,-815,0,1011.0,NaN,NaN,0,147150.000,105358.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716401,145715,5057569,-2333,0,-2027.0,-1984.0,173.070,0,35032.500,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716402,352358,5057580,-1714,0,-1530.0,-1564.0,NaN,0,35271.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716403,361928,5057589,-765,0,1061.0,NaN,NaN,0,1431000.000,1092226.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716404,166279,5057599,-99,0,997.0,NaN,0.000,0,450000.000,432787.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716405,438109,5057605,-2390,0,-2053.0,-2082.0,11317.590,0,112204.350,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716406,335468,5057618,-2517,0,-660.0,-2363.0,0.000,0,473940.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716407,146896,5057629,-1990,0,-1244.0,-1248.0,NaN,0,90000.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716408,146896,5057632,-434,0,-344.0,-344.0,NaN,0,234000.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716409,146896,5057636,-1705,0,-582.0,-582.0,0.000,0,0.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716410,280228,5057642,-575,0,813.0,NaN,NaN,0,67500.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716411,232118,5057652,-821,0,-425.0,-545.0,0.000,0,108765.720,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716412,288038,5057657,-541,0,7.0,NaN,NaN,0,225000.000,10971.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716413,288038,5057665,-463,0,-36.0,-36.0,6863.715,0,110878.470,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716414,445222,5057676,-1628,0,-1320.0,-1320.0,5693.625,0,57834.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716415,317217,5057684,-1970,0,-1577.0,-1577.0,NaN,0,93955.500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716416,433007,5057695,-1100,0,-732.0,-731.0,NaN,0,98775.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716417,433007,5057703,-740,0,31128.0,NaN,NaN,0,67500.000,2466.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716418,433007,5057708,-1389,0,-1299.0,-1299.0,0.000,0,334158.435,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716419,352790,5057718,-1808,0,-1596.0,-1625.0,8100.000,0,28248.840,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716420,352790,5057725,-99,0,-83.0,-98.0,NaN,0,27000.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716421,375755,5057734,-1335,0,-1152.0,-1152.0,NaN,0,195408.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716422,375755,5057742,-2648,0,31129.0,-189.0,NaN,0,202500.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716423,259355,5057750,-44,0,-30.0,NaN,0.000,0,11250.000,11250.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716424,100044,5057754,-2648,0,-2433.0,-2493.0,5476.500,0,38130.840,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716425,100044,5057762,-1809,0,-1628.0,-970.0,NaN,0,15570.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716426,246829,5057770,-1878,0,-1513.0,-1513.0,NaN,0,36000.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716427,246829,5057778,-463,0,NaN,-387.0,NaN,0,22500.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
features = ['AMT_CREDIT_MAX_OVERDUE', 'AMT_CREDIT_SUM_OVERDUE', 'AMT_CREDIT_SUM',
    'AMT_CREDIT_SUM_DEBT', 'DEBT_PERCENTAGE', 'DEBT_CREDIT_DIFF', 'STATUS_0', 'STATUS_12345']
agg_length = bureau.groupby('MONTHS_BALANCE_SIZE')[features].mean().reset_index()
agg_length.head(10)

,MONTHS_BALANCE_SIZE,AMT_CREDIT_MAX_OVERDUE,AMT_CREDIT_SUM_OVERDUE,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,DEBT_PERCENTAGE,DEBT_CREDIT_DIFF,STATUS_0,STATUS_12345
0,1.0,323.042068,7.265145,204378.412977,153632.203666,inf,33327.636173,0.689702,0.001355
1,2.0,908.651492,19.100507,220169.754970,144735.901552,inf,61775.723039,0.569105,0.004829
2,3.0,917.692412,8.348935,284455.912587,192833.202089,inf,71513.378535,0.595704,0.009763
3,4.0,1184.503495,21.166049,339286.264661,225915.137663,inf,97843.348817,0.640054,0.012940
4,5.0,1585.077346,36.463318,381171.978068,244024.880755,inf,113672.517764,0.655135,0.016202
5,6.0,1522.990851,23.959081,395041.881327,260161.248933,inf,112027.222016,0.655650,0.016863
6,7.0,2060.716674,24.820285,426679.494944,281584.428967,inf,127240.210574,0.649950,0.017313
7,8.0,2294.864502,23.424742,433059.820159,271653.455339,inf,140890.480830,0.640997,0.017744
8,9.0,1970.391620,22.482797,447569.633136,273799.130237,inf,155669.352208,0.627815,0.019765
9,10.0,2085.019119,20.681630,437651.810175,260778.633673,inf,154239.890783,0.615245,0.018235

In [42]:
agg_length.rename({feat: 'LL_' + feat for feat in features}, axis=1, inplace=True)
agg_length.head(10)

,MONTHS_BALANCE_SIZE,LL_AMT_CREDIT_MAX_OVERDUE,LL_AMT_CREDIT_SUM_OVERDUE,LL_AMT_CREDIT_SUM,LL_AMT_CREDIT_SUM_DEBT,LL_DEBT_PERCENTAGE,LL_DEBT_CREDIT_DIFF,LL_STATUS_0,LL_STATUS_12345
0,1.0,323.042068,7.265145,204378.412977,153632.203666,inf,33327.636173,0.689702,0.001355
1,2.0,908.651492,19.100507,220169.754970,144735.901552,inf,61775.723039,0.569105,0.004829
2,3.0,917.692412,8.348935,284455.912587,192833.202089,inf,71513.378535,0.595704,0.009763
3,4.0,1184.503495,21.166049,339286.264661,225915.137663,inf,97843.348817,0.640054,0.012940
4,5.0,1585.077346,36.463318,381171.978068,244024.880755,inf,113672.517764,0.655135,0.016202
5,6.0,1522.990851,23.959081,395041.881327,260161.248933,inf,112027.222016,0.655650,0.016863
6,7.0,2060.716674,24.820285,426679.494944,281584.428967,inf,127240.210574,0.649950,0.017313
7,8.0,2294.864502,23.424742,433059.820159,271653.455339,inf,140890.480830,0.640997,0.017744
8,9.0,1970.391620,22.482797,447569.633136,273799.130237,inf,155669.352208,0.627815,0.019765
9,10.0,2085.019119,20.681630,437651.810175,260778.633673,inf,154239.890783,0.615245,0.018235

In [43]:
bureau = bureau.merge(agg_length, how='left', on='MONTHS_BALANCE_SIZE')
bureau.head(10)

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,...,MONTHS_BALANCE_SIZE,STATUS_12345,LL_AMT_CREDIT_MAX_OVERDUE,LL_AMT_CREDIT_SUM_OVERDUE,LL_AMT_CREDIT_SUM,LL_AMT_CREDIT_SUM_DEBT,LL_DEBT_PERCENTAGE,LL_DEBT_CREDIT_DIFF,LL_STATUS_0,LL_STATUS_12345
0,215354,5714462,-497,0,-153.0,-153.0,NaN,0,91323.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,215354,5714463,-208,0,1075.0,NaN,NaN,0,225000.00,171342.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,215354,5714464,-203,0,528.0,NaN,NaN,0,464323.50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,215354,5714465,-203,0,NaN,NaN,NaN,0,90000.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,215354,5714466,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,215354,5714467,-273,0,27460.0,NaN,0.0,0,180000.00,71017.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,215354,5714468,-43,0,79.0,NaN,0.0,0,42103.80,42103.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,162297,5714469,-1896,0,-1684.0,-1710.0,14985.0,0,76878.45,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,162297,5714470,-1146,0,-811.0,-840.0,0.0,0,103007.70,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,162297,5714471,-1146,0,-484.0,NaN,0.0,0,4500.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN